<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.goarbit.goarbit_ism">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:remove="android:maxSdkVersion" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/goarbit_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/goarbit_icon"
        android:scaleType="fitCenter"
        android:supportsRtl="true"
        android:theme="@style/Theme.Goarbit_ism"
        tools:targetApi="31">
        <activity
            android:name="app.aplicacion.goarbit_ism.AboutActivity"
            android:exported="false"
            android:label="About"/>
        <activity
            android:name="app.aplicacion.goarbit_ism.ExternalActivity"
            android:exported="false"
            android:label="GOFINTECH group" />
        <activity
            android:name="app.aplicacion.goarbit_ism.GoarbitActivity"
            android:exported="true"
            android:label="@string/menu_goarbit2">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            </intent-filter>
        </activity>
        <activity
            android:name="app.aplicacion.goarbit_ism.NewsActivity"
            android:exported="true"
            android:label="@string/menu_news">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            </intent-filter>
        </activity>
        <activity
            android:name="app.aplicacion.goarbit_ism.ui.login.LoginActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Goarbit_ism.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="app.aplicacion.goarbit_ism.ui.condicion.CondicionActivity"
            android:exported="true"
            android:label="Términos y Condiciones">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            </intent-filter>
        </activity>
        <activity
            android:name="app.aplicacion.goarbit_ism.ui.register.RegisterActivity"
            android:exported="true"
            android:label="@string/title_activity_register"
            android:theme="@style/Theme.Goarbit_ism.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            </intent-filter>
        </activity>
        <activity
            android:name="app.aplicacion.goarbit_ism.MainActivity"
            android:exported="true"
            android:label="@string/title_activity_main"
            android:theme="@style/Theme.Goarbit_ism.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            </intent-filter>
        </activity>
    </application>

</manifest>